{% extends "template.html" %}
{% block cabecalho %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/principal.css') }}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
{% endblock %}

{% block corpo %}
<div class="tela-mundos-container">
    

    <h1 class="titulo-pagina">Escolha seu Mundo</h1>

    <div class="container-mundos">
        
        <div class="card-mundo mundo-portugol">
            <div class="icone-mundo">
                <i class="fa-solid fa-lightbulb"></i>
            </div>
            <h2>Mundo Portugol</h2>
            <p>Domine os conceitos básicos e a lógica de programação usando pseudo-código de forma simples e intuitiva.</p>
            <a href="{{url_for('modulo')}}" class="botao-entrar">Entrar</a>
        </div>

        <div class="card-mundo mundo-python">
            <div class="icone-mundo">
                <i class="fa-solid fa-code"></i>
            </div>
            <h2>Mundo Python</h2>
            <p>Entre no universo da linguagem real! Escreva scripts potentes, use variáveis avançadas e crie seus primeiros programas.</p>
            <a href= "{{url_for('modulo')}}" class="botao-entrar">Entrar</a>
        </div>


    </div>
</div>
{% endblock %}